* {
	margin: 0px;
	padding: 0px;
	/*border: 1px red solid;*/
}

#main {
	width: 100%;
	margin: auto;
	font-family: sans-serif;
}

/*---------------------- titles & typo & span ------------------------*/

p {
	padding-bottom: 10px; 
}

h2 {
	text-transform : uppercase;
	letter-spacing: 3px;
	font-size: 1em;
	padding-bottom: 10px;
	margin-bottom: 13px;
	font-weight: 600;
}

h3{
	text-transform : capitalize;
	margin: 15px 0px 15px 0px;
	font-size: 1.4em;
	font-weight: 400;
}

h4 {
	text-transform : uppercase;
	color: #EE4236;
	margin-bottom: 15px;
	font-size: 0.8em;
}

h5 {
	text-transform : capitalize;
	color: #7D7768;
	font-size: 1.2em;
	font-weight: 400;
}

span {
	font-weight: bolder;
}

/*-------------------- sections ----------------------*/

section {
	padding: 0px 30px; 
}

#header img {
	width: 100%;
}

.cream1 {
	background-color: #F2F0EB;
	padding-top: 20px;
	padding-bottom: 20px; 
}

.cream1 h2 {
	color: #7D7768;
	border-bottom: 2px solid #7D7768;
}

.cream1 h3 {
	color: #7D7768;
}

.cream2 {
	background-color: #F2F0EB;
	padding-top: 20px;
	padding-bottom: 20px; 
}

.cream2 h2 {
	color: #D0021B;
	border-bottom: 2px solid #D0021B;
}

.cream2 h3 {
	color: #D0021B;
}

.grey {
	background-color: #969186;
	padding-top: 20px;
	padding-bottom: 20px; 
}

.grey h2, h3 {
	color: white;
}

.grey h2 {
	border-bottom: 1px solid white;
}

.red {
	background-color: #D0021B;
	color: white;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px; 
}

/*------------ triangles end of sections ------------*/

#triangle1 {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 20px solid #F2F0EB;
	margin: auto;
	margin-top: -21px;
}

#triangle2 {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 20px solid #D0021B;
	margin: auto;
	margin-top: -21px;
}

/*--------------------- articles ----------------------*/

article {
	background-color: white;
	margin: 25px 0px;	
}

.details {
 padding: 15px 0px 15px 15px;
}

.details p {
	margin-top: 15px;
}

/*------------------ checked bars ------------------*/

#tips1 {
	background-color: #FBFAF8;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	width: 95%;
}

#tips1 p{
	display: inline-block;
	padding: 20px 15px;
}

#tips1 div{
	display: inline-block;
	background-color: #6BC200;
	color: white;
	width: 32px;
	height: 30px;
	border-radius: 20px;
	margin-bottom: 15px;
	padding-top: 2px;
}

#tips2 {
	background-color: #C2BFB8;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	width: 95%;
}

#tips2 p{
	display: inline-block;
	padding: 20px 15px;
}

#tips2 div{
	display: inline-block;
	background-color: #6BC200;
	color: white;
	width: 32px;
	height: 30px;
	border-radius: 20px;
	margin-bottom: 15px;
	padding-top: 2px;
}

/*--------------- form ---------------*/

form p {
	font-weight: bolder;
}

form div{
	margin-bottom: 20px;
}

form [type=submit]{
	display: inline-block;	
	width:130px; 
	text-align: center;
	height: 30px;
	color: white;
	background-color: #D0021B;
	border-radius: 10px;
}

form [type=submit]:hover{
	transition: 0.5s;
	background-color: white;
	color: #D0021B;
	font-weight: bolder;
}

#button{
	text-align: center;
}

label {
	display: block;
	padding-top: 5px;
}

/*------------ media queries ----------*/

@media all and (min-width: 790px) {

	#main {
		width: 80%;
	}

	#header img {
		width: 30%;
	}

	#tips1 {
		clear: both;
		margin-bottom: 0px;
	}
	
	#tips2 {
		clear: both;
		margin-bottom: 0px;
	}

	#demo_video {
		width: 48%;
		float: left;
		margin: auto;
		margin-bottom: 25px;
	}

	#demo_text {
		width: 48%;
		display: inline-block;
		float: right;
		padding-top: 25px;
	}


	.container {
		width: 100%;
	}

	#n2{float:left;width:30%;margin:0px;}
	#n3{float:right;width:30%;margin:0px;}
	#n4{margin:0 auto;width:30%;}

	#n5{float:left;width:30%;margin:0px;}
	#n6{float:right;width:30%;margin:0px;}
	#n7{margin:0 auto;width:30%;margin-top: 20px;}
	
	#n9_10{background-color:#F2F0EB;}
	#n9{width: 48%;float: left;}
	#n10{width:48%;float:right;}

	.red{
		clear: both;
	}
}

@media all and (min-width: 1200px) {

	#n8{width: 70%;float:left;}
	#n9_10{width:30%;float:right;}

	#n9{width:95%;float: inherit;margin-bottom: 13px;}
	#n10{width:95%;float:inherit;}
	
	.red{
		clear: both;
	}
}
